<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Update Blog</title>
	<link rel="stylesheet" href="static/fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/templatemo-xtra-blog.css" rel="stylesheet">

    <!--

TemplateMo 553 Xtra Blog

https://templatemo.com/tm-553-xtra-blog

-->
<style>
    .custom-circle {
        width: 70px; /* Adjust as needed */
        height: 70px; /* Adjust as needed */
        border-radius: 50%;
    }
    .tm-post-link-inner {
        overflow: hidden;
        background: #3085a3;
        height: 244px;
    }
    .img {
        vertical-align: middle;
        border-style: none;
        object-fit: cover;
    }
</style>
</head>
<body>
	<header class="tm-header" id="tm-header">
        <div class="tm-header-wrapper">


            <nav class="tm-nav" id="tm-nav">            
                <ul>
                    {% if user.is_authenticated %}
                    <h3>welcome | {{user.username}}</h3>
                    <li class="tm-nav-item "><a href="{% url 'index' %}" class="tm-nav-link">
                        <i class="fas fa-cogs icon"></i>
                        Home
                    </a>
                    </li>
                    </li>
                    <li class="tm-nav-item "><a href="{% url 'profile' %}" class="tm-nav-link">
                        <i class="fas fa-user icon"></i>
                        Profile
                    </a>
                    </li>
                    {% else %}
                    <li class="tm-nav-item active"><a href="{% url 'login' %}" class="tm-nav-link">
                        <i class="fas fa-user-plus icon"></i>
                        Login
                    </a></li>
                    <li class="tm-nav-item "><a href="{% url 'reg' %}" class="tm-nav-link">
                        <i class="fas fa-sign-in-alt icon"></i>
                        Singup
                    </a></li>
                    {% endif %}
                    <li class="tm-nav-item"><a href="{% url "post" %}" class="tm-nav-link">
                        <i class="fas fa-pen"></i>
                        Single Post
                    </a></li>
                </ul>
            </nav>
            
        </div>
    </header>
    <div class="container-fluid">
        <main class="tm-main">
            <!-- Search form -->
            <div class="row tm-row">
                <div class="col-12">
                    <form method="GET" class="form-inline tm-mb-80 tm-search-form">                
                        <input class="form-control tm-search-input" name="query" type="text" placeholder="Search..." aria-label="Search">
                        <button class="tm-search-button" type="submit">
                            <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                        </button>                                
                    </form>
                </div>                
            </div>          
            
            <div class="row tm-row">
                {% for post in post_list %}
                <article class="col-12 col-md-6 tm-post">
                    <a href="{{post.id}}" class="btn btn-primary">Edit</a>
                    <a href="{% url "del" post.id %}" class="btn btn-danger">Del</a>
                    <hr class="tm-hr-primary">
                    <a href="{{post.id}}" class="effect-lily tm-post-link tm-pt-60">
                        {% for pic in post.post_pic.all %}
                        <div class="tm-post-link-inner">
                            <img src="/media/{{pic.file}}" alt="Image" class="img-fluid" style="object-fit: cover;">                            
                        </div>
                        {% endfor %}                            
                        <span class="position-absolute tm-new-badge">New</span>
                        <h2 class="tm-pt-30 tm-color-primary tm-post-title">{{post.title}}</h2>
                    </a>                    
                    <p class="tm-pt-30" style="max-height: 10em; overflow: hidden;">
                        {{post.content}}
                    </p>
                    <a href="{{post.id}}" class="effect-lily tm-post-link tm-pt-0">
                        <h2 class="tm-pt-30 tm-color-primary tm-post-title">Read</h2>
                    </a> 
                    <div class="d-flex justify-content-between tm-pt-45">
                        {% for cat in post.categories.all %}
                        <span class="tm-color-primary">{{cat.name}}</span>
                        {% endfor %}
                        <span class="tm-color-primary">{{post.put_date}}</span>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <span>36 comments</span>
                        <span>by {{post.auther}}</span>
                    </div>
                </article>
                {% endfor %}
            </div>
            

        </main>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/templatemo-script.js"></script>
</body>
</html>