<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Post</title>
    <link rel="stylesheet" href="/static/css/post.css" />
  </head>
  <body>
    <a href="{% url "index" %}"><button type="button"><</button></a>
    
    <div class="container">
        <h2>Create Bio</h2>
        <form action="{% url "profile" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="post_pic">Post Picture:</label>
                <input type="file" id="post_pic" name="post_pic" accept="image/*" required/>
              </div>
        {% if user.is_authenticated %}
        <div class="form-group" style="display: none;">
            <label>Author:</label>
            <input
            type="text"
            name="name"
            value="{{user.username}}"
            required
            />
        </div>
        {% endif %}
        <div class="form-group">
          <label >Content:</label>
          <textarea  name="bio" rows="6" required></textarea>
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
