<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <style>
        .container {
            width: 50%;
            margin: 0 auto;
        }
        
        label, input, button {
            display: block;
            margin-bottom: 10px;
        }
        
        button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
        }
        
    </style>
</head>
<body>
    <div class="container">
        <form action="{% url 'reg' %}" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Register</button>
            <p>already create account,<a href="{% url 'login' %}">LOGIN</a></p>
        </form>
    </div>
</body>
</html>
